/* ============================================ *
 * Global Header Navigation
 * ============================================ */
@media only screen and (max-width: 980px) {
  #header-account li a,
  .nav-primary a.level0 {
    padding: 0 15px 0 25px;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    color: #636363;
    /*text-transform: uppercase;*/
    line-height: 30px;
  }

  #header-account li:last-child a,
  .nav-primary li.level0:last-child a.level0 {
    border-bottom: 0;
  }

  .no-touch #header-account a:hover,
  .no-touch .nav-primary a:hover {
    background-color: #f4f4f4;
    text-decoration: none;
  }
}
/* ============================================ *
 * Nav - Skip Link
 * ============================================ */
.skip-nav {
  width: 40%;
}
.skip-nav:not(.skip-active):hover {
  text-decoration: none;
}
.skip-nav:not(.skip-active):hover .icon {
  background-position: -46px 4px;
}

.skip-nav .label {
  display: inline;
}

.skip-nav .icon {
  background-position: 4px 4px;
}

@media only screen and (min-width: 500px) {
  .skip-nav {
    width: 25%;
  }
}
@media only screen and (min-width: 981px) {
  .skip-nav {
    display: none;
  }
}
/* ============================================ *
 * Nav - Skip Content
 * ============================================ */
@media only screen and (max-width: 980px) {
  #header-nav {
    padding: 5px 0;
  }
}
@media only screen and (min-width: 981px) {
  #header-nav {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #cccccc;
    display: block;
    height: 66px;
    position: relative;
  }
  .nav-primary li a{font-size: 22px;line-height: 33px;}
  .nav-primary li.last a{background:none;}
}
/* ============================================ *
 * Nav Primary
 * ============================================ */
@media only screen and (min-width: 981px) {
  .nav-primary {
	display: block;
    font-size: 147%;
    max-width: 725px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .nav-primary li{padding: 5px 0 5px; background: url("../images/separator_solid.png") no-repeat scroll right 50% rgba(0, 0, 0, 0);}
  .nav-primary li:last-child{background: none;}
  .menu_block .nav-primary li:hover{background:#fbfbfb; border:0 solid #d4d4d4; border-bottom: none; line-height: 2.8;}
  .menu_block .nav-primary li.hoverActive:hover { line-height: 3.4; }

  .menu_block{max-width: 980px; margin:0 auto; padding:0;}
  .menu_block #search_mini_form { 
	display: inline-block;
    float: right;
    max-width: inherit;
    position: relative;
    right: 0;
    top: 13px;  		
  }
  .menu_block nav{max-width: 725px;display: inline-block;}
  .menu_block #search_mini_form .input-text{-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;}
  .menu_block #search_mini_form .search-button{background-image: url("../images/search_icon.jpg") !important; background-position: 2px 1px !important; background-repeat: no-repeat;}
  .menu_block #search_mini_form #search{height: 41px; width: 100%;}
}

@media only screen and (min-width: 981px)/*  and (max-width: 860px) */{
   .nav-primary {
	display: block;
    font-size: 139%;
    max-width: 725px;
    padding-bottom: 0;
    padding-top: 0;
  }
	
}
/* ============================================ *
 * General Navigation Styles
 * ============================================ */
.nav-primary a {
  text-decoration: none;
  position: relative;
  display: block;
  color: #222222;
  line-height: 30px;
  font-family: "MyriadProSemiCondensed", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.nav-primary li {
    line-height: 2.9;
}
.nav-primary li.level0:hover {
   padding: 0;
}
.nav-primary li.level1 a {
  border-bottom: 1px solid #cccccc;
}

.nav-primary .menu-active > ul.level0,
.nav-primary li.level0 li.sub-menu-active > ul {
  display: block;
}

.nav-primary li.level0 > a {
  	height: 42px;
    position: relative;
    z-index: 1000;
	outline: none;
}

/* ============================================ *
 * Small Viewports - Accordion Style Menu
 * ============================================ */
@media only screen and (max-width: 980px) {
  .nav-primary a.level0,
  .nav-primary a {
    line-height: 35px;
  }
  .nav-primary li.level0 ul {
    display: none;
  }
  .nav-primary li.level0 li {
    padding: 0 0 0 25px;
  }
  .nav-primary li.level1 a {
    padding: 0 15px 0 25px;
  }
  .nav-primary li.parent > a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #cccccc;
    border-right: none;
    top: 50%;
    left: 10px;
    right: auto;
    margin-top: -5px;
  }
  .nav-primary li.parent.sub-menu-active > a:after,
  .nav-primary li.parent.menu-active > a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #cccccc;
    border-bottom: none;
    top: 50%;
    left: 10px;
    right: auto;
    margin-top: -5px;
  }
  .nav-primary li.menu-active > a,
  .nav-primary li.sub-menu-active > a {
    color: #3399cc;
  }
}
/* ============================================ *
 * Large Viewports - Dropdown Menu
 * ============================================ */
@media only screen and (min-width: 981px) {
  .nav-primary {
    
  }
  .nav-primary li.first a.level0 {}
  .nav-primary a.level0 {
    padding: 0 20px;
  }
  .nav-primary li.level0,
  .nav-primary a.level0 {
    display: inline-block;
  }
  .nav-primary li:last-child > a {
    border-bottom: none;
  }
  .nav-primary a:hover,
  .nav-primary li:hover > a {
    color: #000;  	
  }
  
  .nav-primary a.level0:hover,
  .nav-primary li.level0:hover > a.level0{
	padding: 0 19px 0 20px !important;
  }
  .nav-primary .menu-active,
  .nav-primary li.level0:hover {
    z-index: 200;
  	border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
  	margin-left: -1px;
  	line-height: 3.3;
  }
  .nav-primary li.level0:hover a{background: none;}
  .nav-primary li.level0:hover ul {display: block;}
  .nav-primary li.level0 ul li:hover{background: none;}
  .nav-primary li.level0 ul {
    background: none repeat scroll 0 0 #FBFBFB;
    border-bottom: 1px solid #E3E3E3;
    display: none;
    height: 160px;
    left: 0;
    overflow: visible;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    text-align: center;
    top: 66px;
    width: 100%;
    z-index: 10;
  }
  .nav-primary li.level0 ul li:hover{border: none;}
  .nav-primary li.level0 ul li:first-child{display: none;}
	.nav-primary li.level0 ul li.active {
	    background: url("../images/MenuBottomActive.png") no-repeat scroll center 100% rgba(0, 0, 0, 0) !important;
    	padding-bottom: 30px;
	}
	.nav-primary .sub-cat-container{display: none;padding-top: 0;}
	.sub-cat-container ul li:first-child{display: none !important;}
	#header-nav .subMenu{display: block; position: relative; float: left; width: 100%;margin-bottom: 40px;z-index: 2000; }

	#header-nav .subMenu .nav-primary{
		background: none repeat scroll 0 0 #FBFBFB;
	    display: inline-block;
	    height: 160px;
	    max-height: 160px;
	    max-width: 100%;
	    min-height: 160px;
	    position: relative;
	    width: 100%;
		border-bottom: 1px solid #CCCCCC;
	}
	#header-nav .subMenu{display: none;}
	#header-nav .subMenu .nav-primary .sub-cat-container li a.menucatimage{height: 115px;}
	#header-nav .subMenu .nav-primary .sub-cat-container li a{border: none; background: none;color: #999999;font-size: 18px;height: 45px;line-height: 48px;}
	#header-nav .subMenu .nav-primary .sub-cat-container li:hover a, #header-nav .subMenu .nav-primary .sub-cat-container li.active a{color: #000;}
	#header-nav .subMenu .nav-primary .sub-cat-container li.active{background: url("../images/MenuBottomActive.png") no-repeat scroll center 100% rgba(0, 0, 0, 0) !important;padding-bottom: 25px; height: auto !important}
	#header-nav .subMenu .nav-primary .sub-cat-container li:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 159px;}
	.menu_block .nav-primary li.hoverActive a{color: #000; padding: 0 19px 0 20px !important;}
	#header-nav .subMenu .nav-primary .sub-cat-container li.hoverActive a{background: none;}
	.menu_block .nav-primary li.hoverActive{
		border-left: 1px solid #E3E3E3;
	    border-right: 1px solid #E3E3E3;
	    z-index: 200;
		background: none repeat scroll 0 0 #FBFBFB;
		margin-left: -1px;
	}
	#header-nav .subMenu .nav-primary li > a > img {
	    border: 0px solid #EEEEEE;
		border-right: none;
	}
	#header-nav .subMenu .nav-primary li:last-child > a > img{
		border-right: 0px solid #EEEEEE;
	}
	.sub-cat-container ul{text-align: center;}
	.sub-cat-container ul li {
	    display: inline-block !important;
	    height: auto;
	    padding: 0 1%;
		background: none;
	}
	.nav-primary li.level0 ul li:hover{background: #FFFFFF;}
	.nav-primary li.level0 ul li {
	    clear: none;
		display: inline-block;
		padding: 0 1%;
		width: auto;
		text-align: center;
		max-width: 12%;
		vertical-align: top;
		padding-top: 0;
	}
	.nav-primary li.level0 ul li img{border: 1px solid #ccc; margin-top:7px;}
	.nav-primary li.level0 ul li a{
		border-bottom: 0;
		font-size: 20px;
		color: #999;
		font-weight: normal;
	}
  .nav-primary li.level1 ul {
    left: 60px;
    top: 15px;
  }
  .nav-primary li.level0 ul.level0.position-test {
    display: block;
  }
  .nav-primary li.level0 ul.level0.spill {
    right: 0;
    left: auto;
  }
  .nav-primary li.level0 ul.level0.spill li.level1 ul {
    left: auto;
    right: 50px;
    top: 20px;
  }
  .nav-primary li.level0 li.parent > a {
    position: relative;
  }
  .nav-primary li.level0 li.parent > a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #cccccc;
    border-right: none;
    right: 5px;
    top: 50%;
    margin-top: -3px;
  }
  .no-touch li:hover > ul {
    display: block;
  }
}
@media only screen and (max-width: 900px) and (min-width: 768px){
	.level1.menucatimage {
	    display: none;
	}
	.nav-primary li.level0 ul{height: 60px;}
	.nav-primary li.level0 ul li.active {
	    padding-bottom: 44px;
	    padding-top: 16px;
	}
	.nav-primary li{line-height: 2.9;}
	.nav-primary a.level0:hover, .nav-primary li.level0:hover > a.level0 {
	    padding: 0 9px 0 10px !important;
	}
	.menu_block .nav-primary li.hoverActive a {
	    color: #3399CC;
	    padding: 0 9px 0 10px !important;
	}
	.nav-primary li.level0 ul{top: 54px;height: 67px;}
	#header-nav .subMenu .nav-primary .sub-cat-container li:hover {
	    background: none repeat scroll 0 0 #FFFFFF;
	    height: 45px;
	}
	#header-nav .subMenu .nav-primary {
	    background: none repeat scroll 0 0 #FBFBFB;
	    border-bottom: 1px solid #CCCCCC;
	    display: inline-block;
	    height: 55px;
	    max-height: 55px;
	    max-width: 100%;
	    min-height: 55px;
	    position: relative;
	    width: 100%;
	}
	.nav-primary li.level0 ul li{padding-top: 16px; max-width: 15%;}
	.nav-primary li.level0 ul li a{font-size: 18px;}
	.nav-primary a.level0 {
		padding: 0 10px;
	}
	.nav-primary li.level0 ul li.active, .nav-primary li.level0 ul li:hover{padding-bottom: 50px !important;}
}

@media only screen and (max-width: 919px) and (min-width: 859px){
	.menu_block #search_mini_form {
		/* max-width: 255px;
		position: absolute;
		right: 18px; */
	}
}

.nav-primary .sub-cat-container{background: none;}
.sub-cat-container {
	/* Set it so we could calculate the offsetLeft */
	position: relative;
	width: auto;
	overflow: auto;
	margin: 0 auto;
}
.sub-cat-container > ul {
	display: block;
	height: 160px;
	/* max width here, for users without javascript */	
	/* width: 1500px; */	
	padding : 0px;
	/* removing default styling */
	margin: 0;
	background: url('images/navigati.png');		
	list-style: none;
}
.sub-cat-container > ul > li {
	display: block;
	float: none;	
	padding: 0 5px;
}
.sub-cat-container > ul > li > a {
	display: block;
	text-decoration: none;
}
.sub-cat-container > ul > li span {
	display: none;
	margin-top: 3px;
	
	text-align: center;
	font-size: 12px;	
	color: #fff;
}
.sub-cat-container > ul > li a:hover span {
	display: block;
}
.sub-cat-container > ul > li img {
	border: 3px #fff solid;	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.sub-cat-container > ul > li a:hover img {
	filter:alpha(opacity=50);	
	opacity: 0.5;
}
.menucarousalnav {
    display: inline-block;
    height: 160px;
    position: absolute;
    width: 35px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	top: 0;
}
.menucarousalnav.prev{left: 0;background: url("../images/menuprev.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);border-right: 1px solid #ccc;}
.menucarousalnav.next{right:0;background: url("../images/menunext.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);border-left: 1px solid #ccc;}
.home-promo .products-grid.home-products-grid{border-top: none; border-top: none;}
.ias_loader{text-align: center; margin-top: 20px;}
.ias_loader > img {
    display: inline-block;
}
#header-nav.fixedNav {
    background: url("../images/header_bg.jpg") repeat-x scroll 0 -135px #EEEEEE;
    border-bottom: 1px solid #E3E3E3;
    display: block;
    height: 82px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
#header-nav.fixedNav .level1.menucatimage {
    display: none;
}
#header-nav.fixedNav .sub-cat-container ul li{ margin: 0 10px;width: auto;}
#header-nav.fixedNav .subMenu .nav-primary{height: 57px;max-height: 57px;min-height: 57px;}
#header-nav.fixedNav .sub-cat-container ul li{height: 57px;}
#header-nav.fixedNav .sub-cat-container ul{height: 57px;}
#header-nav.fixedNav .subMenu .nav-primary .sub-cat-container li a{height: 57px;line-height: 60px;}
#header-nav.fixedNav .subMenu .nav-primary .sub-cat-container li:hover{height: 56px;}
#header-nav.fixedNav .menucarousalnav.next {background: url("../images/menunext.png") no-repeat scroll 0 48% rgba(0, 0, 0, 0);height: 57px;}
#header-nav.fixedNav .menucarousalnav.prev {background: url("../images/menuprev.png") no-repeat scroll 0 48% rgba(0, 0, 0, 0);height: 57px;}
#header-nav .subMenu.subMenuOpen{display: block !important;}
div#catDrops, div#menuDrops, .catMenuDrops{display: none; width: 100%;}

@media only screen and (max-width: 319px){

#catDrops{display: none;}
	#catDrops form#search_mini_form {
	    background: none repeat scroll 0 0 #333333;
	    padding: 20px 4%;
	}
	#catDrops #nav .nav-primary li a:hover{background: #000;}
	#catDrops #nav .nav-primary li.level0 > a > .productcounter{display: none;}
	#catDrops #nav .nav-primary li > ul > li a:hover{background: none !important;}
	#catDrops #nav .nav-primary li > ul > li:hover{background-color: #000 !important;}
	#catDrops #nav .nav-primary li{background: #91C9D0;border-bottom: 1px solid #FFFFFF;height: auto;}
	#catDrops #nav .nav-primary li.parent{background: url("../images/categoryarrow-down.png") no-repeat scroll 95% 25px #91C9D0;}
	#catDrops #nav .nav-primary li.parent.menu-active{background: #91C9D0;}
	#catDrops #nav .nav-primary > li.parent.menu-active > a{background: url("../images/categoryarrow-up.png") no-repeat scroll 95% 25px transparent;}
	#catDrops #nav .nav-primary > li.parent.menu-active > a:hover{background: url("../images/categoryarrow-up.png") no-repeat scroll 95% 25px #000;}
	#catDrops #nav .nav-primary > li.parent > a:hover{background: url("../images/categoryarrow-down.png") no-repeat scroll 95% 25px #000;}
	#catDrops #nav .nav-primary li a {
	    border: medium none;
	    color: #FFFFFF;
	    height: 60px;
	    line-height: 62px;
		font-size: 18px;
		padding: 0 4% !important;
		background: none;
		display: inline-block;
		width: 100%;
	}
	.productcounter {
	    color: #CDCDCD;
	    float: right;
	    padding-right: 11px;
	}
	#catDrops #nav .nav-primary li > ul li {
	    background: none repeat scroll 0 0 #F7F7F7;
	    border-bottom: 1px solid #CCCCCC;
	    max-width: 100%;
	    padding-top: 0;
		padding-bottom: 0 !important;
	    width: 100%;
		margin: 0 !important;
	}
	#catDrops #nav .nav-primary li > ul li > a:hover{color: #fff;}
	#catDrops #nav .nav-primary li > ul li > a {
	    color: #333333;
	    padding: 0;
	}
	#catDrops #nav .nav-primary li a:after{border: none;}
	#header-nav.skip-content.fixedNav{display: none;}
	
	.catMenuDrops {
	    background: url("../images/mobilecaticondown.png") no-repeat scroll 96% 50% rgba(0, 0, 0, 0);
	    display: inline-block;
	    font-size: 15px;
	    height: 66px;
	    line-height: 68px;
	    margin: -12px 0 0;
	    padding: 0 8% 0 2%;
	    width: auto;
	}
	.skip-link.catMenuDrops:hover, .skip-link.skip-active{opacity:1;}
	.catMenuDrops a{color: #190202; text-decoration: none !important;}
	.catMenuDrops.skip-active{background: url("../images/mobilecaticonup.png") no-repeat scroll 93% 50% #333333; opacity:1;}
	.catMenuDrops:hover{background-color: #333;}
	.catMenuDrops.skip-active a, .catMenuDrops:hover a{color: #c9cccc}
	#header-nav{display: none;}
	.page-header-container > div#menuDrops .currency-switcher a > span {
	    text-transform: capitalize;
		display: inline !important;
	}
	#search_mini_form .search-button{background: none;}
	#search_mini_form .search-button:before{background: none;}
	.menu_bar_cart{margin-right: 0%;}
	#catDrops .nav-primary .menu-active > ul.level0, #catDrops .nav-primary li.level0 li.sub-menu-active > ul{height: auto;}
.menu_bar_cart{background: none; padding: 0 1%; font-size: 14px;}
}








.navi ul{
display: inline;
}